
extends ./layoutUser

block content 
  .container
    h2 Preferencias
     .row
        .col-3
        .formRegistro.col-6.center-block.divPadding
          form(action='/preferencia', method='POST')
            label.txtColor(for='sex_pref') Comidas:
            select#foodUser.form-control.custom-select(name='sexOrientation', required='')
              for Comidas in comidas
                option(value='#{Comidas.nombre}') #{Comidas.nombre}                    
            button.btn.btn-info(style="margin-left: 10px",type='button', data-toggle='collapse', data-target='#demo') Add        
            button.btn.btn-danger(style="margin-left: 350px",type='button' onClick="removeFood()") Remove
            #demo.collapse
              .card-body
                form(action='/preferencia', method='POST')
                  button.btn.btn-warning(type='button' ) Comida
            label.txtColor(for='sex_pref') Deportes:
            select#foodUser.form-control.custom-select(name='sexOrientation', required='')
              for Sports in deportes
                option(value='#{Sports.nombre}') #{Sports.nombre}                    
            button.btn.btn-info(style="margin-left: 10px",type='button', data-toggle='collapse', data-target='#demo') Add        
            button.btn.btn-danger(style="margin-left: 350px",type='button' onClick="removeFood()") Remove
            #demo.collapse
              .card-body
                
                form(action='/preferencia', method='POST')
                  button.btn.btn-warning(type='button' ) Comida
            label.txtColor(for='sex_pref') Musica:
            select#foodUser.form-control.custom-select(name='sexOrientation', required='')
              for Sports in deportes
                option(value='#{Sports.nombre}') #{Sports.nombre}                    
            button.btn.btn-info(style="margin-left: 10px",type='button', data-toggle='collapse', data-target='#demo') Add        
            button.btn.btn-danger(style="margin-left: 350px",type='button' onClick="removeFood()") Remove
            #demo.collapse
              .card-body

                  
  script(src='/javascripts/preferences.js')